# Archivos generados por pyonfx (se regeneran con run.py)
*_fx.ass

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Modelos de Whisper (pesados, no van al repo)
*.pt

# Archivos de audio y video (demasiado pesados)
*.mp3
*.mp4
*.wav
*.mkv

# OS
.DS_Store
Thumbs.db
